POSOrderingSystem/.vs/
POSOrderingSystem/POSOrderingSystem/obj/
POSOrderingSystem/POSOrderingSystem/bin/
POSOrderingSystem/POSOrderingSystem/StyleCop.Cache
*.Cache
POSOrderingSystem/DataGridViewNumericUpDownElements/bin/
POSOrderingSystem/DataGridViewNumericUpDownElements/obj/
POSOrderingSystem/POSOrderingSystemTests/bin/
POSOrderingSystem/POSOrderingSystemTests/obj/
POSOrderingSystem/packages/
POSOrderingSystem/TestResults/
POSOrderingSystem/POSOrderingSystemUITests/bin/
POSOrderingSystem/POSOrderingSystemUITests/obj/
